<ul>
	<li id="fileMenu">
		File
		<ul id="fileOpts" class="menuOpts">
			<li id="openOpt"><div class="openOpt">Open</div><input type="file" id="fileOpen" name="fileOpen"></li>
			<li id="saveOpt">Save</li>
			<li id="importOpt" class="subMenu">
				Import...
				<ul id="importOpts" class="menuOpts subMenuOpts">
					<li><div id="importXML">As XML</div> <input type="file" id="xmlImport" name="xmlImport"></li>
				</ul>
			</li>
			<li id="exportOpt" class="subMenu">
				Export...
				<ul id="exportOpts" class="menuOpts subMenuOpts">
					<li id="exportSVG">As SVG</li>
					<li id="exportXML">As XML</li>
				</ul>
			</li>
			<li>Exit</li>
		</ul>
	</li>
	<li id="editMenu">
		Edit
		<ul id="editOpts" class="menuOpts">
			<li id="convertOpt">Convert..</li>
			<li id="validateOpt">Validate XML</li>	
			<li id="livevalidationOpt">Enable Live Validation</li>			
                        <li id="deploy">Deploy</li>	
		</ul>
	</li>
	<li id="aboutMenu">
		About
		<ul id="aboutOpts" class="menuOpts">
			<li id="infoOpt">Info</li>						
		</ul>
	</li>
        
        <li id="outputMenu" style="float:right">
            Output <img id="outputButton" src="./img/dbarrow.png"/>
        </li>
</ul>
<span class="clear"></span>